### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Application ###
.env
data

### Server ###
counter-server/.gradle
counter-server/build/
!counter-server/gradle/wrapper/gradle-wrapper.jar
!counter-server/**/src/main/**/build/
!counter-server/**/src/test/**/build/
